<div class="d-flex flex-column flex align-items-center">
    <div class="align-items-end">
      Display movies' names
      <mat-slide-toggle [checked]="displayMovies" (change)="exposeMovies()"></mat-slide-toggle>
    </div>
    <div *ngFor="let item of spoilers" class="card mb-3">
      <div class="card-body">
        <h3>#{{item.rank}} {{ displayMovies ? item.movieName : hideName(item.movieName) }}</h3>
        {{item.spoiler}}
      </div>
    </div>
    <button class="btn btn-primary" (click)="spoil()">Next spoiler please</button>
</div>
